#principal{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 800px;
    height: 680px;
    z-index: 1;
    margin-left: -400px;
    background: #CF9;
    border-radius: 10px;
    padding-left: 5px;
    border:dashed;

}
#cabecera{
    position: absolute;
    top: 8px;
    width: 770px;
    height: 100px;
    z-index: 2;
    background: #ffff99;
    border-radius: 10px;
    padding-left: 10px;
    border:2px solid;

}
#cabederecha{
position: absolute;
top:0px;
left: 550;
width: 200px;
height: 100px;
z-index:2 ;
background:#F96;
border-radius: 10px;
padding-left: 10px;

}
#menu{
    position: absolute;
    top:110px;
    width: 780px;
    height: 40px;
    z-index: 3;
    border-radius: 10px;
    text-align:center;
    border:2px solid;
}
#cuerpo{
    position: absolute;
    top: 168px;
    width: 780px;
    height: 400px;
    z-index: 3;
    border-radius: 10px;
    border:2px solid;
    overflow: auto;
    left: 11px;


}
#pie{
    position: absolute;
    top: 580px;
    width: 760px;
    height: 80px;
    z-index: 4;
    padding-left: 10px;
    padding-right: 10px;
    border:2px solid;
}